<div id="about">
  <p>I'm a web developer and occasional designer working primarily in JavaScript (CoffeeScript usually), Perl, and Java (Android only) at the moment.</p>
  <p>When I'm taking a break from work, I'm fine-tuning my bread baking technique, researching digital poetics, catching up on postmodern literary theories, or working on my impression of Stephen Fry's impression of Brian Blessed.</p>
  <p>Contact me at <a href="mailto:&#115;&#097;&#109;&#118;&#116;&#114;&#097;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#115;&#097;&#109;&#118;&#116;&#114;&#097;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></p>
  <h4>About This Site</h4>
  <p>This site uses <a href="http://yeoman.io/">Yeoman</a> with <a href="http://angularjs.org">AngularJS</a>. You can check out the source code <a href="https://github.com/samvtran/personal-site" title="Source code on GitHub">here</a>.</p>
</div>